
.backtologin {
    height: 5rem;
    background: #24a4af;
    width: 100%;
}

.backtologin h4 {
    color: #fff;
    font-weight: normal;
    line-height: 5rem;
    padding-left: 10%;
    margin-top: 0;
    font-size: 2rem;
}

.backtologin .backtologin-icon {
    font-size: 30px;
    color: #fff;
    font-weight: normal;
    line-height: 5rem;
    padding-left: 1rem;
}


#resets {
    width: 97%;
    padding-left: 3%;
}

#resets .resetscontent {
    margin: 0.7rem 0 0.7rem 0;
    border: none;
}

.listmore p {
    line-height: 4rem;
    height: 4rem;
    padding-left: 10%;
    margin-top: -2.7rem;
    color: #fb5e5e;
}

#submit {
    width: 93%;
    border-radius: 24px;
    border: none;
    line-height: 4.3rem;
    height: 4.3rem;
    margin-left: 3.5%;
    background: #24a4af;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 1.8rem;
    margin-top: 3rem;

}

.interval{
    line-height: 2.2rem;
    height: 2.2rem;
    text-align: center;
    width: 35%;
    border-radius: 14px;
    background: #24a4af;
}
.interval p{color: #fff;}



