<ion-view hide-nav-bar="true">
	<ion-content>
	<div class="marg_top">
		<div class="noti_list">
			<h2 >2016春季招聘会<span class="time">16-2-13</span></h2>
			<p class="news">#新闻</p>
			<p ui-sref="tabs.community.collegeInfor" class="intr">2016年春季招聘会将于2016年4月12日在火星时....</p>
		</div>
		<div class="noti_list">
			<h2 ui-sref="tabs.community.collegeInfor">2016春季招聘会<span class="time">16-2-13</span></h2>
			<p class="news">#新闻</p>
			<p ui-sref="tabs.community.collegeInfor" class="intr">2016年春季招聘会将于2016年4月12日在火星时....</p>
		</div>
		<div class="noti_list">
			<h2 ui-sref="tabs.community.collegeInfor">2016春季招聘会<span class="time">16-2-13</span></h2>
			<p class="news">#新闻</p>
			<p ui-sref="tabs.community.collegeInfor" class="intr">2016年春季招聘会将于2016年4月12日在火星时....</p>
		</div>
		<div class="noti_list">
			<h2 ui-sref="tabs.community.collegeInfor">2016春季招聘会<span class="time">16-2-13</span></h2>
			<p class="news">#新闻</p>
			<p ui-sref="tabs.community.collegeInfor" class="intr">2016年春季招聘会将于2016年4月12日在火星时....</p>
		</div>
		<div class="noti_list">
			<h2 ui-sref="tabs.community.collegeInfor">2016春季招聘会<span class="time">16-2-13</span></h2>
			<p class="news">#新闻</p>
			<p ui-sref="tabs.community.collegeInfor" class="intr">2016年春季招聘会将于2016年4月12日在火星时....</p>
		</div>
	</div>
	
	</ion-content>
</ion-view>