

<ion-view hide-tabs="true" title="职业素质分">
	<ion-nav-header class="bar-color"></ion-nav-header>
	<ion-content>
		<div class="result_state"><img src="images/set/result_state01.png" /></div>
		<ul class="row result_ul">
			<li class="col-33">时间</li>
			<li class="col-33">调整分数</li>
			<li class="col-33">说明</li>
		</ul>
		<ul class="list result_list">
			<li class="item row">
				<div class="col-33">2016/04/19</div>
				<div class="col-33">+2</div>
				<div class="col-33">入选五星作品</div>
			</li>
			<li class="item row">
				<div class="col-33">2016/04/10</div>
				<div class="col-33">-0.5</div>
				<div class="col-33">上午迟到</div>
			</li>
			<li class="item row">
				<div class="col-33">2016/03/10</div>
				<div class="col-33">-1</div>
				<div class="col-33">下午缺勤</div>
			</li>
		</ul>
	</ion-content>
</ion-view>

