<ion-view hide-tabs="true" hide-nav-bar="true" style="background: #f7f7f7;">
    <div class="backtologin">
        <i class="icon icon-left ion-ios-arrow-back backtologin-icon fl"></i><h4 ui-sref="login">忘记密码</h4>
    </div>
    <div class="list" id="resets">
        <div class="item item-input resetscontent">
            <input type="text" placeholder="电话" ng-model="data.tel">
        </div>
        <div class="item item-input resetscontent">
            <input type="text" placeholder="验证码" ng-model="data.testify">
            <div class="interval">
                <p ng-click="hide()"; ng-show="isShow">点击发送验证码</p>
                <p  ng-show="!isShow">{{count}}秒后点击重发</p>
            </div>
        </div>
        <form name="registerForm" novalidate>
            <div class="item item-input resetscontent">
                <input type="password" placeholder="新密码" name="password" ng-model="password" ng-minlength="6" required>
            </div>
            <div class="item item-input resetscontent">
                <input type="password" placeholder="确认新密码" name="confirmpassword" ng-model="confirmpassword" ng-minlength="6" required>
            </div>
        </form>
    </div>
    <div class="listmore">
        <p ng-show="password!=confirmpassword">输入密码不一致</p>
    </div>
    <button id="submit" class="submit button button-clear" type="submit" ng-disabled="!data.tel || !data.testify || !data.new || !data.confirms">提交</button>
</ion-view>