<ion-view title="最新作品" style="color:#fff">
    <ion-nav-buttons side="right">
        <a class="search"><img src="images/home/search.png"></a>
    </ion-nav-buttons>
    <ion-content class="bgcolor">
            <ul class="workboxes">
                <li>
                    <a ui-sref="tabs.zphz">
                    <img src="images/home/work_1.png">
                    <div class="nameicon">
                        <div class="fl dpic"><img src="images/home/dpicon.png"></div>
                        <span class="fl">李雷</span>
                    </div>
                    <p class="class point13">1512期UI视觉设计师班1班</p>
                    </a>
                </li>
                <li>
                    <a ui-sref="tabs.zphz">
                    <img src="images/home/work_1.png">
                    <div class="nameicon">
                        <div class="fl dpic"><img src="images/home/dpicon.png"></div>
                        <span class="fl">李雷</span>
                    </div>
                    <p class="class point13">1512期UI视觉设计师班1班</p>
                    </a>
                </li>
                <li>
                    <a ui-sref="tabs.zphz">
                        <img src="images/home/work_1.png">
                        <div class="nameicon">
                            <div class="fl dpic"><img src="images/home/dpicon.png"></div>
                            <span class="fl">李雷</span>
                        </div>
                        <p class="class point13">1512期UI视觉设计师班1班</p>
                    </a>
                </li>
                <li>
                    <a ui-sref="tabs.zphz">
                        <img src="images/home/work_1.png">
                        <div class="nameicon">
                            <div class="fl dpic"><img src="images/home/dpicon.png"></div>
                            <span class="fl">李雷</span>
                        </div>
                        <p class="class point13">1512期UI视觉设计师班1班</p>
                    </a>
                </li>
            </ul>
    </ion-content>
</ion-view>