<ion-modal-view id="share">
    <ion-content>
        <div class="share">
            <h2>分享到</h2>
            <ul>
                <li>
                    <a href=""><img src="images/modal/weixin.png"></a>
                    <p>微信好友</p>
                </li>
                <li>
                    <a href=""><img src="images/modal/sina.png"></a>
                    <p>新浪微博</p>
                </li>
                <li>
                    <a href=""><img src="images/modal/pyq.png"></a>
                    <p>朋友圈</p>
                </li>
                <li>
                    <a href=""><img src="images/modal/link.png"></a>
                    <p>获取链接</p>
                </li>
            </ul>
            <div class="bottom"><span ng-click="closeModal()">取消</span></div>
        </div>
    </ion-content>
</ion-modal-view>