<ion-view title="修改密码" class="stable-bg" hide-tabs="true">
    <ion-content>
    	<form  class="password" name="modifypwd" novalidate>
	        <input type="password" placeholder="原密码" name="name" ng-model="oldpwd" required/>
	        <input type="password" placeholder="新密码" ng-model="newpwd" required name="newpwd">
	        <input type="password" placeholder="确认新密码" ng-model="submitpwd" required name="sumitpwd">
	        <p>密码长度至少6个字符，最多32个字符</p>
			<p ng-show="newpwd!=submitpwd" style="color:red">输入密码不一致</p>
	        <button type="submit"  class="submit button" ui-sref="tabs.set" ng-disabled="modifypwd.$invalid">提交</button>
		</form>
    </ion-content>
</ion-view>
